[submodule "src/test/resources/aws-encryption-sdk-test-vectors"]
	path = src/test/resources/aws-encryption-sdk-test-vectors
	url = https://github.com/awslabs/private-aws-encryption-sdk-test-vectors-staging.git
